.centro {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 350px;
}
div.tamanho {
	display: flex;
	margin: auto;
	background-color: black;	
}
.sobre {
	font-family: ;
	font-size: 20px;
	color: black;
	width: 60%;
	height: 350px;
	text-align: justify;
	word-wrap: break-word;
}
.imagem{
    background-color: black;
    margin-right: 20px;
    border: 10px solid #4F0045;
    width: 300px;
	height: 350px;
}
.imagem img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}